<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Capstone Project <%= title %></h1>
    <h2>This is the homepage of the Capstone Project!</h2>
    <p>Hello, Welcome to <%= title %></p>
  </body>
</html>
